body {
    background-image: url("../images/gandolf.jpg");
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* .quiz, .summary {
    display: none;
} */

.quiz ul {
    list-style: none;
}

.quiz li {
    margin: 0 auto;
    cursor: pointer;
    background-color: yellow;
    border: 2px solid orange;
    width: 200px;
}

li:hover {
    background-color: red;
}

.selected {
    background-color: white;
}

.startbox {
    background-color: white;
    background-size: 100%;
    border: 1px solid black;
    border-radius: 10%;
    width: 600px;
    height: 550px;
    padding: 10px;
    float: right;
    margin-right: 200px;
    margin-top: 100px;
    text-align: center;
}

.quizbox {
    background-color: white;
    background-size: 100%;
    border: 1px solid black;
    border-radius: 10%;
    width: 600px;
    height: 550px;
    padding: 10px;
    float: right;
    margin-right: 200px;
    margin-top: 100px;
    text-align: center;
}

#countdown {
    text-align: center;
    font-size: 50px;
}

button:hover {
    color: blue;
}